<div id="help-menu">
    <ul>
        <li><a href="http://support.storefeeder.com/" target="_blank" tabindex="-1">Visit the StoreFeeder Support Portal</a></li>
        <li><a href="http://support.storefeeder.com/index.php?/Knowledgebase/List" target="_blank" tabindex="-1">Visit the StoreFeeder Knowledgebase</a></li>
        <li><a href="http://support.storefeeder.com/index.php?/Knowledgebase/List/Index/53/faqs" target="_blank" tabindex="-1">Frequently Asked Questions</a></li>
        <li><a href="http://support.storefeeder.com/index.php?/Tickets/Submit" target="_blank" tabindex="-1">Contact Technical Support</a></li>
    </ul>
    <div class="grip"><span class="text">Help and Support</span></div>
</div>