@using SF.Common.MVC
@model SF.Auth.WebUI.Models.Account.RequestPasswordResetViewModel
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-request-password-reset">
            <div class="panel-heading">
                <img id="login-logo" src="~/images/storefeeder-logo.svg" alt="StoreFeeder • Multi Channels • One Solution" />
            </div>
            <div class="panel-body">
                <div class="col-md-8 col-md-offset-2">
                    <p>Please enter your email address above and we'll send you an email to reset your password.</p>
                </div>
                @using (Html.BeginForm("requestpasswordreset", "login", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group @Html.IsValid(x => x.EmailAddress, "has-error")">
                        <div class="col-md-8 col-md-offset-2">
                            @Html.TextBoxFor(x => x.EmailAddress, new { @class = "form-control", placeholder = "Email Address" })
                            @Html.ValidationMessageFor(x => x.EmailAddress, string.Empty, new { @class = "help-block pull-left" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-2">
                            <button class="btn btn-primary pull-right" id="submit" type="submit">Submit&nbsp;<i class="fa fa-arrow-right"></i></button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}