$orange: #E87331;
$dark-orange: #E5570B;
$white: #FFFFFF;
$grey: #DDDDDD;
$background-grey: #F9F9F9;
$border-grey: #DEDEDE;

$green-text: #3c763d;
$green-background: #dff0d8;
$green-border: #d6e9c6;

$red-color: #8a6d3b;
$red-background: #fcf8e3;
$red-border: #faebcc;