.panel-login, .panel-request-password-reset {
    margin: auto;
    text-align: center;
    margin-top: 125px;
    background: none;

    > .panel-heading {
        font-size: 22px;
        font-weight: normal;
        padding: 15px;

        @extend .white-text;
    }

    > .panel-body {
        @extend .white-text;
    }

    .form-group {
        margin-bottom: 10px;

        input,
        select,
        textarea {
            max-width: 100%;
        }

        .btn-link {
            padding: 0;
        }
    }
}

.panel {
    box-shadow: none;
}

.panel-experian > .panel-heading {
    background-color: $orange;
    border: 1px solid $orange;
    color: $white;
}

.panel-experian > .panel-body {
    border: 1px solid $grey;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: none;
}

.panel-small {
    > .panel-heading {
        padding: 4px 8px;
    }

    > .panel-body {
        padding: 4px;
    }
}

.panel-menu {
    border: 1px solid $border-grey;

    .panel-heading {
        background-color: $background-grey;
        border-bottom: 1px solid $border-grey;

        .btn {
            margin-bottom: 0;
        }
    }

    .panel-body {
        background-color: $background-grey;
        padding: 10px;
    }
}

.well-white {
    background-color: #FFF;
}